
.grid{
    display: grid;
    grid-template-columns: repeat(4,1fr); /*crea dos columnas con el 50%*/
    /*Para separar*/
    grid-template-rows: minmax(100px, auto);
    gap:2em;
}
.grid div{
    background: gray;
    padding: 1em;
}
/*
.grid2{
    display: grid;
    grid-template-columns: repeat(4,1fr); /*crea dos columnas con el 50%*/
    /*gap:2em;
}
*/
.grid2 > div{
    background-color: teal;
    padding: 1em;
    gap: 1em;
}
div:hover{
    border:2px solid yellow;

}
